{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block body %}

    {% if user.is_authenticated %}

    <h2>You are already logged in</h2>
    {% else %}
    <div class="container">

    <h2>Login</h2>

    <form method="post">
    {% csrf_token %}
        {{ form|crispy }}

    <button type ="submit" class="btn btn-primary">Login</button>
        <a href="/account/resetpassword" class="btn btn-link" role="button">Forgot Password?</a>
    </form>
    </div>
    {% endif %}


{% endblock %}