{% extends 'base.html'%}

{% block body %}

        {% load static from staticfiles %}
<script src="{% static 'django_typeform/embed.js' %}"></script>

{% load django_typeform %}


        <div class="my-typeform" style=”width:100%;height:500px;”></div>
        <script src="{% static 'django_typeform/embed.js' %}"></script>
        {% typeforms_embed 'https://jackburke.typeform.com/to/g3hO2Z' '.my-typeform' '{"hideHeaders": true, "hideFooter": true}' %}



{#    <h1>Cyber Security Essentials 1</h1>#}
{#<div class="quiz-container">#}
{#  <div id="quiz"></div>#}
{#</div>#}
{#    <div class="container">#}
{#<button id="previous">Previous Question</button>#}
{#<button id="next">Next Question</button>#}
{#<button id="submit">Submit Quiz</button>#}
{#      <a href="/points/getpoints/" class="btn btn-primary btn-lg active" role="button" aria-pressed="true" id="getpoints">Get your points</a>#}
{#</div>#}
{#    <style>#}
{##}
{#body{#}
{#  text-align: center;#}
{##}
{#}#}
{##}
{#.question{#}
{#  font-size: 30px;#}
{#  margin-bottom: 10px;#}
{#}#}
{#.answers {#}
{#  margin-bottom: 20px;#}
{#  text-align: left;#}
{#  display: inline-block;#}
{#}#}
{#.answers label{#}
{#  display: block;#}
{#  margin-bottom: 10px;#}
{#}#}
{##}
{##}
{#.slide{#}
{#  position: absolute;#}
{#  left: 0px;#}
{#  top: 0px;#}
{#  width: 100%;#}
{#  z-index: 1;#}
{#  opacity: 0;#}
{#  transition: opacity 0.5s;#}
{#}#}
{#.active-slide{#}
{#  opacity: 1;#}
{#  z-index: 2;#}
{#}#}
{#.quiz-container{#}
{#  position: relative;#}
{#  height: 200px;#}
{#  margin-top: 40px;#}
{#}#}
{##}
{#.quiz{#}
{#font-size: large;#}
{#}#}
{#    </style>#}
{##}
{#    <script>#}
{#    (function() {#}
{#  const myQuestions = [#}
{#    {#}
{#      question: "How often will your bank request a confirmation of your password or account number via email?",#}
{#      answers: {#}
{#        a: "Once a month",#}
{#        b: "Never",#}
{#        c: "Once a year",#}
{#          d: "Once every six months"#}
{#      },#}
{#      correctAnswer: "b"#}
{#    },#}
{#    {#}
{#      question: "Which of these passwords is the most secure?",#}
{#      answers: {#}
{#        a: "password",#}
{#        b: "Password1!",#}
{#        c: "P@$$w0rd1!",#}
{#          d:"grouchy cat laser pointer"#}
{#      },#}
{#      correctAnswer: "c"#}
{#    },#}
{#    {#}
{#      question: "How often should you back-up your computer?",#}
{#      answers: {#}
{#        a: "Once a week",#}
{#        b: "Only when you suspect there is or could be a problem",#}
{#        c: "Every day",#}
{#        d: "Whenever you create new files or upload pictures you don’t want to lose "#}
{#      },#}
{#      correctAnswer: "d"#}
{#    },#}
{#      {#}
{#      question: "Your home wireless network configuration should include:",#}
{#      answers: {#}
{#        a: "WPA2, unique password (complex), and WPS disabled",#}
{#        b: "WEP, unique password, WPS enabled",#}
{#        c: "WPA2, default password, WPS disabled",#}
{#        d: "WPA, default password and WPS enabled"#}
{#      },#}
{#      correctAnswer: "a"#}
{#    }#}
{#  ];#}
{##}
{#  function buildQuiz() {#}
{#    // we'll need a place to store the HTML output#}
{#    const output = [];#}
{##}
{#    // for each question...#}
{#    myQuestions.forEach((currentQuestion, questionNumber) => {#}
{#      // we'll want to store the list of answer choices#}
{#      const answers = [];#}
{##}
{#      // and for each available answer...#}
{#      for (letter in currentQuestion.answers) {#}
{#        // ...add an HTML radio button#}
{#        answers.push(#}
{#          `<label>#}
{#             <input type="radio" name="question${questionNumber}" value="${letter}">#}
{#              ${letter} :#}
{#              ${currentQuestion.answers[letter]}#}
{#           </label>`#}
{#        );#}
{#      }#}
{##}
{#      // add this question and its answers to the output#}
{#      output.push(#}
{#        `<div class="slide">#}
{#           <div class="question"> ${currentQuestion.question} </div>#}
{#           <div class="answers"> ${answers.join("")} </div>#}
{#         </div>`#}
{#      );#}
{#    });#}
{##}
{#    // finally combine our output list into one string of HTML and put it on the page#}
{#    quizContainer.innerHTML = output.join("");#}
{#  }#}
{##}
{#  function showResults() {#}
{#    // gather answer containers from our quiz#}
{#    const answerContainers = quizContainer.querySelectorAll(".answers");#}
{##}
{#    // keep track of user's answers#}
{#    let numCorrect = 0;#}
{##}
{#    // for each question...#}
{#    myQuestions.forEach((currentQuestion, questionNumber) => {#}
{#      // find selected answer#}
{#      const answerContainer = answerContainers[questionNumber];#}
{#      const selector = `input[name=question${questionNumber}]:checked`;#}
{#      const userAnswer = (answerContainer.querySelector(selector) || {}).value;#}
{##}
{#      // if answer is correct#}
{#      if (userAnswer === currentQuestion.correctAnswer) {#}
{#        // add to the number of correct answers#}
{#        numCorrect++;#}
{#      } else {#}
{##}
{#      }#}
{#    });#}
{##}
{#     previousButton.style.display = "none";#}
{#     submitButton.style.display = "none";#}
{#     getpoints.style.display = "inline-block";#}
{##}
{#    // show number of correct answers out of total#}
{#    quiz.innerHTML = `${numCorrect} out of ${myQuestions.length}`;#}
{#  }#}
{##}
{#  function showSlide(n) {#}
{#    slides[currentSlide].classList.remove("active-slide");#}
{#    slides[n].classList.add("active-slide");#}
{#    currentSlide = n;#}
{#    getpoints.style.display = "none";#}
{##}
{#    if (currentSlide === 0) {#}
{#      previousButton.style.display = "none";#}
{#    } else {#}
{#      previousButton.style.display = "inline-block";#}
{#    }#}
{##}
{#    if (currentSlide === slides.length - 1) {#}
{#      nextButton.style.display = "none";#}
{#      submitButton.style.display = "inline-block";#}
{#    } else {#}
{#      nextButton.style.display = "inline-block";#}
{#      submitButton.style.display = "none";#}
{#    }#}
{#  }#}
{##}
{#  function showNextSlide() {#}
{#    showSlide(currentSlide + 1);#}
{#  }#}
{##}
{#  function showPreviousSlide() {#}
{#    showSlide(currentSlide - 1);#}
{#  }#}
{##}
{#  const quizContainer = document.getElementById("quiz");#}
{#  const resultsContainer = document.getElementById("results");#}
{#  const submitButton = document.getElementById("submit");#}
{##}
{#  // display quiz right away#}
{#  buildQuiz();#}
{##}
{#  const previousButton = document.getElementById("previous");#}
{#  const nextButton = document.getElementById("next");#}
{#  const slides = document.querySelectorAll(".slide");#}
{#  let currentSlide = 0;#}
{##}
{#  showSlide(0);#}
{##}
{#  // on submit, show results#}
{#  submitButton.addEventListener("click", showResults);#}
{#  previousButton.addEventListener("click", showPreviousSlide);#}
{#  nextButton.addEventListener("click", showNextSlide);#}
{#})();#}
{#    </script>#}

{% endblock %}